<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      background: linear-gradient(to top,
          rgba(0, 0, 0, 0.5) 50%,
          rgba(0, 0, 0, 0.5) 50%),
        url(Campuspic.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;}
    
      
</style>
  <title>Institute</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="project.css" />
</head>

<body>
  <div class="links">
    <ul>
      <a href="syllabus.html">
        <li>Syllabus</li>
      </a>
      <a href="results.html">
        <li>Results</li>
      </a>
      <a href="classlinks.html">
        <li>Class Links</li>
      </a>
      <a href="time_table.html">
        <li>Time Table</li>
      </a>
      <a href="faculty.html">
        <li>Faculty Details</li>
      </a>
    </ul>
  </div>

  <div class="fixed-bottom" id="foot">
    <footer>
      <div class="footer-content">
        <ul class="social">
           <li><a href="https://www.facebook.com/iiitlucknow/" target="_blank"><i class="fa fa-facebook"></i></a></li>
           <li><a href="https://twitter.com/iiit_lucknow" target="_blank"><i class="fa fa-twitter"></i></a></li>
           <li><a href="https://www.instagram.com/iiitlucknow/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
           <li><a href="https://in.linkedin.com/school/iiitl/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2022 IIIT Lucknow</p>
    </div>
    </footer>
  </div>
</body>

</html>