<!DOCTYPE html>
<html lang="en">

<head>
  <title>time_table</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="time_table.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="container-fliud">
    <p><i>Time Table</i></p>
  </nav>
  <h3 align="center">1st YEAR</h3>
  <div class="container">
    <table class="table table-responsive-lg table-striped table-bordered table-hover">
      <thead>
        <tr align="center" class="table-primary">
          <th colspan="11">TIME TABLE FOR B.Tech (ALL.2021)SEMESTER-1</th>
        </tr>
      </thead>
      <tr align="center" class="table-danger">
        <th></th>
        <th>08:00-09:00</th>
        <th>09:00-10:00</th>
        <th>10:00-11:00</th>
        <th>11:15-12:15</th>
        <th>12:15-01:15</th>
        <th>14:00-15:00</th>
        <th>15:00-16:00</th>
        <th>16:00-17:00</th>
        <th>17:00-18:00</th>
        <th>18:00-19:00</th>
      </tr>
      <tr align="center">
        <th class="table-danger">MON</th>
        <td class="table-secondary">AKS(CS BATCH ONLY)</td>
        <td class="table-secondary">RKV</td>
        <td class="table-secondary">CA</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="table-secondary">NE</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">TUE</th>
        <td class="table-secondary">AKS(IT BATCH ONLY)</td>
        <td class="table-secondary">RKV</td>
        <td class="table-secondary">CA</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="table-secondary">NE</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr align="center">
        <th class="table-danger">WED</th>
        <td class="table-secondary">AKS(CSAI BATCH ONLY)</td>
        <td class="table-secondary">RKV</td>
        <td class="table-secondary">CA</td>
        <td class="table-secondary">VF</td>
        <td></td>
        <td></td>
        <td class="table-secondary">NE</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">THURS</th>
        <td class="table-secondary">AKS(CSB BATCH ONLY)</td>
        <td colspan="2" class="table-secondary">RKV-Lab</td>
        <td class="table-secondary">VF</td>
        <td></td>
        <td colspan="2" class="table-secondary">CA-Lab</td>
        <td colspan="2" class="table-secondary">VF-Lab</td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">FRI</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" class="table-secondary">VF-Lab</td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">SAT</th>
        <td></td>
        <td></td>
        <td colspan="2" class="table-secondary">BS</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" class="table-secondary">BS-Lab</td>
      </tr>
    </table>
  </div>
  <h3 align="center">2nd YEAR</h3>
  <div class="container">
    <table class="table table-responsive-lg table-striped table-bordered table-hover">
      <thead>
        <tr align="center" class="table-primary">
          <th colspan="11">TIME TABLE FOR B.Tech (ALL.2020)SEMESTER-1</th>
        </tr>
      </thead>
      <tr align="center" class="table-danger">
        <th></th>
        <th>08:00-09:00</th>
        <th>09:00-10:00</th>
        <th>10:00-11:00</th>
        <th>11:15-12:15</th>
        <th>12:15-01:15</th>
        <th>14:00-15:00</th>
        <th>15:00-16:00</th>
        <th>16:00-17:00</th>
        <th>17:00-18:00</th>
        <th>18:00-19:00</th>
      </tr>
      <tr align="center">
        <th class="table-danger">MON</th>
        <td></td>
        <td class="table-secondary">CA</td>
        <td class="table-secondary">RKV</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="table-secondary">NE</td>
        <td></td>
        <td class="table-secondary">VF</td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">TUE</th>
        <td></td>
        <td class="table-secondary">CA</td>
        <td class="table-secondary">RKV</td>
        <td></td>
        <td class="table-secondary">NE</td>
        <td></td>
        <td class="table-secondary">VF</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr align="center">
        <th class="table-danger">WED</th>
        <td></td>
        <td class="table-secondary">CA</td>
        <td class="table-secondary">RKV</td>
        <td></td>
        <td class="table-secondary">NE</td>
        <td></td>
        <td colspan="2" class="table-secondary">VF-Lab</td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">THURS</th>
        <td></td>
        <td colspan="2" class="table-secondary">CA-Lab</td>
        <td colspan="2" class="table-secondary">RKV-Lab</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">FRI</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" class="table-secondary">VF-Lab</td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">SAT</th>
        <td></td>
        <td></td>
        <td colspan="2" class="table-secondary">BS</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" class="table-secondary">BS-Lab</td>
      </tr>
    </table>
  </div>
  <h3 align="center">3rd YEAR</h3>
  <div class="container">
    <table class="table table-responsive-lg table-striped table-bordered table-hover">
      <thead>
        <tr align="center" class="table-primary">
          <th colspan="11">TIME TABLE FOR B.Tech (ALL.2019)SEMESTER-1</th>
        </tr>
      </thead>
      <tr align="center" class="table-danger">
        <th></th>
        <th>08:00-09:00</th>
        <th>09:00-10:00</th>
        <th>10:00-11:00</th>
        <th>11:15-12:15</th>
        <th>12:15-01:15</th>
        <th>14:00-15:00</th>
        <th>15:00-16:00</th>
        <th>16:00-17:00</th>
        <th>17:00-18:00</th>
        <th>18:00-19:00</th>
      </tr>
      <tr align="center">
        <th class="table-danger">MON</th>
        <td></td>
        <td class="table-secondary">RKV</td>
        <td class="table-secondary">CA</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="table-secondary">NE</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">TUE</th>
        <td></td>
        <td class="table-secondary">RKV</td>
        <td class="table-secondary">CA</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="table-secondary">NE</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr align="center">
        <th class="table-danger">WED</th>
        <td></td>
        <td class="table-secondary">RKV</td>
        <td class="table-secondary">CA</td>
        <td class="table-secondary">VF</td>
        <td></td>
        <td></td>
        <td class="table-secondary">NE</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">THURS</th>
        <td></td>
        <td colspan="2" class="table-secondary">RKV-Lab</td>
        <td class="table-secondary">VF</td>
        <td></td>
        <td colspan="2" class="table-secondary">CA-Lab</td>
        <td colspan="2" class="table-secondary">VF-Lab</td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">FRI</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" class="table-secondary">VF-Lab</td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">SAT</th>
        <td></td>
        <td></td>
        <td colspan="2" class="table-secondary">BS</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" class="table-secondary">BS-Lab</td>
      </tr>
    </table>
  </div>
  <h3 align="center">4th YEAR</h3>
  <div class="container">
    <table class="table table-responsive-lg table-striped table-bordered table-hover">
      <thead>
        <tr align="center" class="table-primary">
          <th colspan="11">TIME TABLE FOR B.Tech (ALL.2018)SEMESTER-1</th>
        </tr>
      </thead>
      <tr align="center" class="table-danger">
        <th></th>
        <th>08:00-09:00</th>
        <th>09:00-10:00</th>
        <th>10:00-11:00</th>
        <th>11:15-12:15</th>
        <th>12:15-01:15</th>
        <th>14:00-15:00</th>
        <th>15:00-16:00</th>
        <th>16:00-17:00</th>
        <th>17:00-18:00</th>
        <th>18:00-19:00</th>
      </tr>
      <tr align="center">
        <th class="table-danger">MON</th>
        <td></td>
        <td class="table-secondary">CA</td>
        <td class="table-secondary">RKV</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="table-secondary">NE</td>
        <td></td>
        <td class="table-secondary">VF</td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">TUE</th>
        <td></td>
        <td class="table-secondary">CA</td>
        <td class="table-secondary">RKV</td>
        <td></td>
        <td class="table-secondary">NE</td>
        <td></td>
        <td class="table-secondary">VF</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr align="center">
        <th class="table-danger">WED</th>
        <td></td>
        <td class="table-secondary">CA</td>
        <td class="table-secondary">RKV</td>
        <td></td>
        <td class="table-secondary">NE</td>
        <td></td>
        <td colspan="2" class="table-secondary">VF-Lab</td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">THURS</th>
        <td></td>
        <td colspan="2" class="table-secondary">CA-Lab</td>
        <td colspan="2" class="table-secondary">RKV-Lab</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">FRI</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" class="table-secondary">VF-Lab</td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center">
        <th class="table-danger">SAT</th>
        <td></td>
        <td></td>
        <td colspan="2" class="table-secondary">BS</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" class="table-secondary">BS-Lab</td>
      </tr>
    </table>
  </div>
  <div id="foot">
    <footer>
      <div class="footer-content">
        <ul class="social">
           <li><a href="https://www.facebook.com/iiitlucknow/" target="_blank><i class="fa fa-facebook"></i></a></li>
           <li><a href="https://twitter.com/iiit_lucknow" target="_blank><i class="fa fa-twitter"></i></a></li>
           <li><a href="https://www.instagram.com/iiitlucknow/?hl=en" target="_blank><i class="fa fa-instagram"></i></a></li>
           <li><a href="https://in.linkedin.com/school/iiitl/" target="_blank><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2022 IIIT Lucknow</p>
    </div>
    </footer>
  </div>
</body>

</html>