<!DOCTYPE html>
<html lang="en">

<head>
   
  <title>Institute</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <!--social madia logo links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- linking css -->
    <link rel="stylesheet" href="project.css" />
</head>

<body>
   <!-- header part -->
  <div class="links">
    <ul>
       <a href="syllabus.html"> <!--link to syllabus page -->
        <li>Syllabus</li>
      </a>
      <a href="results.html"> <!--link to results page -->
        <li>Results</li>
      </a>
      <a href="classlinks.html"> <!--link to classlinks page -->
        <li>Class Links</li>
      </a>
      <a href="time_table.html"> <!--link to timetable page -->
        <li>Time Table</li>
      </a>
      <a href="faculty.html"> <!--link to faculty page -->
        <li>Faculty Details</li>
      </a>
    </ul>
  </div>

  <!-- footer part -->
  <div class="fixed-bottom" id="foot">
    <footer>
      <!--social media links-->
      <div class="footer-content">
        <ul class="social">
           <li><a href="https://www.facebook.com/iiitlucknow/" target="_blank"><i class="fa fa-facebook"></i></a></li>
           <li><a href="https://twitter.com/iiit_lucknow" target="_blank"><i class="fa fa-twitter"></i></a></li>
           <li><a href="https://www.instagram.com/iiitlucknow/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
           <li><a href="https://in.linkedin.com/school/iiitl/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2022 IIIT Lucknow</p>
    </div>
    </footer>
  </div>
</body>

</html>